.dashboard-wrapper {
    margin-top: 20px;
}

.MuiTabs-flexContainer {
    justify-content: space-between;
}

.MuiButtonBase-root {
    height: auto;
    min-height: 30px !important;
    padding: 15px !important;
    display: flex;
    align-items: center;
    flex-direction: row !important;

}

.MuiButtonBase-root svg {
    margin-right: 5px;
    font-size: 18px;
}

.MuiButtonBase-root.Mui-selected {
    color: #FF5D5D !important;
}

.MuiTabs-indicator {
    background-color: #FF5D5D !important;
}

.tab-body .MuiBox-root {
    padding: 15px;
    position: relative;
}

.tab-body {
    position: relative;
}

.tab-body .MuiBox-root textarea {
    width: 100%;
    padding: 10px 10px 10px 65px;
    border: none;
    resize: none;
    box-sizing: border-box;
}

.tab-body .MuiBox-root textarea:focus {
    outline: none;
}

.tab-body .avatar {
    position: absolute;
    top: 20px;
    left: 25px;
}

.post-wrapper {
    background: #f5f6f7;
    padding: 15px;
    border-radius: 10px;
}

.post-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-list:first-child {
    margin-bottom: 10px;
}

.post-list .list-radio {
    display: inline-flex;
    align-items: center;
}

.post-list .list-radio span {
    display: flex;
    align-items: center;
}

.post-list .list-radio span svg {
    margin-right: 10px;
}

.post-list .MuiOutlinedInput-root {
    border-radius: 20px;
}

.post-list .MuiSelect-select {
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
}

.post-list .MuiSelect-select em {
    display: flex;
    align-items: center;
}

.post-list .MuiSelect-select em svg {
    font-size: 18px;
    margin-right: 10px;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
}

/* Hide the default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* custom radio button */
.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: lightgray;
    border-radius: 50%;
}

.radio-container:hover input~.check {
    background-color: gray;
}

.radio-container input:checked~.check {
    background-color: #FF5D5D;
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked~.check:after {
    display: block;
}

.radio-container .check:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.post-button {
    padding: 5px !important;
    width: 100%;
    margin-top: 30px !important;
    border-radius: 20px !important;
    background-color: #FF5D5D !important;
}

.media {
    border-top: solid 1px #ddd;
    padding: 10px;
}

.media label {
    cursor: pointer;
}

.media .MuiChip-root {
    background-color: #FFE3A9;
    padding: 0 10px !important;
    cursor: pointer;
}

.media label .MuiChip-root svg {
    font-size: 16px;
}

.send-directly {
    border-top: solid 1px #ddd;
    margin-top: 10px;
}

.send-directly .MuiMenuItem-root {
    justify-content: flex-start;
    text-align: left;
    padding-left: 0 !important;
}

.send-directly .MuiMenuItem-root:hover {
    background-color: transparent;
}

.send-directly .send-message {
    display: flex;
    margin-top: 15px;
    color: #757a91;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}

.send-message input {
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    outline-color: #FF5D5D
}

.user-img {
    margin-right: 15px;
}

.media-img-preview img {
    max-height: 150px;
}

.media-img-preview input[type=file] {
    display: none;
}

.media-img-preview {
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
}

.media-img-preview svg {
    position: absolute;
    right: -10px;
    color: #000;
    top: -10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.post-cards {
    margin-top: 15px;
}

.post-liked {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.post-liked span {
    font-size: 12px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
    line-height: 15px;
}

.floating {
    position: relative;

}

.floating .liked {
    background: red !important;
}

.floating span {
    position: absolute;
    right: 10px;
    top: -25px;
}

.floating .MuiFab-circular {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.floating .MuiFab-circular svg {
    margin-right: 0 !important;
}

.post-body {
    padding-top: 50px !important;
}

.comment-wrapper {
    margin-top: 30px;
    border-top: solid 1px #ddd;
    padding-top: 30px;

}

.comment-title {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    color: #757a91;
}

.comment-wrapper .comment-body {
    padding: 0 15px 15px 70px;
    font-size: 14px;
    line-height: 21px;
}

.comment-input {
    margin-top: 30px;
    padding: 0 15px;
}

.comment-input textarea {
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 5px;
    resize: none;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
}

.comment-input button {
    float: right;
    padding: 8px !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.recommended-pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: solid 1px #ddd;
}